body {
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    background-color: #d6f9ff;
}

.container {
    padding: 50px;
    margin: auto;
    margin-top: 1em;
    border-radius: 20px;
    border: 2px solid rgb(209, 209, 209);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 200px;
}